<!--
  Generated template for the Secciones page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Secciones de la guía
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="card-container" *ngFor="let post of postList"  [style.background]="post.color">
    <div class="background">
      <div class="darken"></div>
      <div class="image">
        <img src="{{ post.image }}">
        <div class="fade" [ngStyle]="{'background-image':'linear-gradient(to bottom, transparent, '+ post.color + ')'}"></div>
      </div>

    </div>

    <div class="header">

      <div class="title">{{ post.title }}</div>
      <div class="subtitle">{{ post.excerpt }}</div>
    </div>

    <div class="content" padding>
      <md-card *ngFor="let post of post.children" (click)="goToContent(post.id)">
        <img md-card-image src="{{ post.image }}">
        <md-card-title>{{ post.title }}</md-card-title>
        <md-card-content>{{ post.excerpt }}</md-card-content>
        <md-card-actions align="end">
          <button md-button>LEER</button>
        </md-card-actions>
      </md-card>

    </div>

  </div>
</ion-content>
